<%-include("./partials/header.ejs")%>

    <link rel="stylesheet" href="/stylesheets/clinicianPortal.css">

    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="">
                <form class="card card-sm" action="/organisation/clinician/medicalID" method="POST">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" name="medicalID" placeholder="Search Patients By Id">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>
    <br><br>






    <div class="container tabcontainer">
        <div class="row">
            <div class="col-xs-12 ">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                        <a class="nav-item nav-link active" id="nav-addreport-tab" data-toggle="tab" href="#nav-addreport" role="tab" aria-controls="nav-addreport" aria-selected="true">Add Report</a>
                        <a class="nav-item nav-link" id="nav-addprescription-tab" data-toggle="tab" href="#nav-addprescription" role="tab" aria-controls="nav-addprescription" aria-selected="false">Add Prescription</a>
                        <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">Report</a>
                        <a class="nav-item nav-link" id="nav-prescription-tab" data-toggle="tab" href="#nav-prescription" role="tab" aria-controls="nav-prescription" aria-selected="false">Prescription</a>
                        <a class="nav-item nav-link" id="nav-reporth-tab" data-toggle="tab" href="#nav-reporth" role="tab" aria-controls="nav-reporth" aria-selected="false">Report History</a>
                        <a class="nav-item nav-link" id="nav-prescriptionh-tab" data-toggle="tab" href="#nav-prescriptionh" role="tab" aria-controls="nav-prescriptionh" aria-selected="false">Prescription History</a>

                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">


                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        NAME :
                        <%=details.name%>
                            Medical No:
                            <%=details.recordID%>
                                <%=details.medicalID%>
                    </div>




                    <div class="tab-pane fade show active" id="nav-addreport" role="tabpanel" aria-labelledby="nav-addreport-tab">
                        <div class="dfcontainer">
                            <div class="main">
                                <div class="main-center">
                                    <form class="" method="post" action="/organisation/clinician/addreport">


                                        <input type="text" name="medicalID" value=<%=details.recordID%>
                                        <%=details.medicalID%>>
                                            <div class="form-group">
                                                <label for="name">Blood Group</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="bloodGroup" id="blood-group" placeholder="Patient's Blood Group" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Blood Pressure</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="bloodPressure" id="blood-pressure" placeholder="Patient's Blood Pressure" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Height</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="height" id="height" placeholder="Patient's Height" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Weight</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="weight" id="weight" placeholder="Patient's Weight" />
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="name">Allergies</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="allergies" id="allergies" placeholder="Patient's Allergies" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Diagnoses</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="diagnoses" id="diagnoses" placeholder="Patient's Diagnoses " />
                                                </div>
                                            </div>












                                            <button class="btn btn-info" type="submit">Submit</button>

                                    </form>
                                </div>
                                <!--main-center"-->
                            </div>
                            <!--main-->
                        </div>
                        <!--container-->
                    </div>






                    <div class="tab-pane fade" id="nav-addprescription" role="tabpanel" aria-labelledby="nav-addprescription-tab">
                        <div class="dpcontainer">
                            <div class="row">
                                <div class="col-sm-4 col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form accept-charset="UTF-8" action="/organisation/clinician/addprescription" method="POST">
                                                <input type="text" name="medicalID" value=<%=details.medicalID%>
                                                <%=details.recordID%>>
                                                    <textarea class="form-control counted" name="prescription" placeholder="Prescription Details" rows="5" style="margin-bottom:10px;"></textarea>

                                                    <button class="btn btn-info" type="submit">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">


                        <div class="coabox">
                            <form action="/organisation/clinician/getreport" method="POST">
                                <input type="text" name="medicalID" value=<%=details.medicalID%>
                                <%=details.recordID%>>
                                    <button>Get latest report</button>
                            </form>
                            <div class="report_result">
                                MedicalID :
                                <%=details.recordID%>
                                    Name:
                                    <%=details.name%>
                                        DOB :
                                        <%=details.dob%>
                                            Report:
                                            <%=details.report%>
                            </div>
                        </div>









                    </div>















                    <div class="tab-pane fade" id="nav-prescription" role="tabpanel" aria-labelledby="nav-prescription-tab">
                        <div class="dpcontainer">
                            <div class="row">
                                <div class="col-sm-4 col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form action="/organisation/clinician/getprescription" method="POST">
                                                <input type="text" name="medicalID" value=<%=details.medicalID%>
                                                <%=details.recordID%>>
                                                    <button>Get latest prescription</button>
                                            </form>
                                            <div class="prescription_results">
                                                MedicalID :
                                                <%=details.recordID%>
                                                    Name:
                                                    <%=details.name%>
                                                        DOB :
                                                        <%=details.dob%>
                                                            Report:
                                                            <%=details.prescription%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="tab-pane fade" id="nav-prescriptionh" role="tabpanel" aria-labelledby="nav-prescriptionh-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="sidebarservices">

                                        <li>ADD PRESCRIPTION HISTORY HERE ON ITERATION</li>
                                    </ul><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-reporth" role="tabpanel" aria-labelledby="nav-reporth-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="sidebarservices">
                                        <form action="/organisation/clinician/reporthistory" method="POST">
                                            <input type="text" name="medicalID" value=<%=details.medicalID%>
                                            <%=details.recordID%>>
                                                <button>Get report history</button>
                                        </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <%-include("./partials/footer")%>