<!doctype html>
<html lang="en">
<%- include ('./partials/header') %>

<body>
  <div class="d-flex flex-row bodypharma">
    <div class="p-2">
      <div class="card" id="masterCard-hcp">
        <!-- <div class="card-body"> -->
        <div class="container" id="Container-hcp">
          <div class="row">
            <div class="col-xl-20 ">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Report</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Prescription</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Report History</a>
                  <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Prescription History</a>
                </div>
              </nav>
              <!-- tabs title ends -->

              <div class="tab-content py-3 px-3 px-sm-0">

                <!-- Get Latest Medical Report -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="card" id="cardpharma">
                    <div class="card-body small-card" id="">
                      <h4>Get Latest Medical Report</h4><br>
                      <form class="form-inline" action="/organisation/healthcareprovider/getreport" method="POST">
                        <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="Enter Medical ID" aria-label="Search">
                        <button class="btn b my-2 my-sm-0 submit-btn" type="submit">Get Report</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- give permission -->
                <!-- revoke permission -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="card" id="cardpharma">
                    <div class="card-body small-card">
                      <h4>Get Latest Prescription</h4><br>
                      <form class="form-inline" action="/organisation/healthcareprovider/getprescription" method="POST">
                        <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="Enter Medical ID" aria-label="Search">
                        <button class="btn b my-2 my-sm-0 submit-btn" type="submit">Get Report</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- revoke permission -->
                <!-- get records -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <div class="card" id="cardpharma">
                    <div class="card-body small-card">
                      <h4>Get Record History</h4><br>
                      <form class="form-inline" action="/organisation/healthcareprovider/getmedicalrecord" method="POST">
                        <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="Enter Medical ID" aria-label="Search">
                        <button class="btn b my-2 my-sm-0 submit-btn" type="submit">Get Report</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- get records -->
                <!-- get permission -->
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                  <div class="card" id="cardpharma">
                    <div class="card-body small-card">
                      <h4>Get Prescription Record</h4><br>
                      <form class="form-inline" action="/organisation/healthcareprovider/getprescriptionrecord" method="POST">
                        <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="Enter Medical ID" aria-label="Search">
                        <button class="btn b my-2 my-sm-0 submit-btn" type="submit">Get Report</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- get permission -->
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- <div class="partition"></div> -->
    <div class="p-2">
      <div class="card" id="masterCard-hcp">
        <!-- <div class="card-body"> -->
        <div class="container" id="detail-hcp">


          <div class="card-hcp">
            <div class="card-body">
              <table>
                <tr>
                  <td><b>Name</td>
                  <td><%=details.name%></td>
                </tr>
                <tr>
                  <td><b>D.O.B</td>
                  <td><%=details.dob%></td>
                </tr>
                <tr>
                  <td><b>Address</td>
                  <td><%=details.address%></td>
                </tr>
                <tr>
                  <td class="pres"><b>Prescription</td>
                  <td class="pres"><%=details.prescription%></td>
                </tr>
                <% Object.values(details).forEach(detail => { %>
                <tr>
                  <td class="pres"><b>Medical Report</b></td>
                  <td class="pres">
                    <%=detail.Value.report%>
                  </td>
                </tr>
                <%})%>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-bottom" style="text-align: center;">All rights reserved®</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>