<%- include ('./partials/header') %>

    <body>
        <div class="container">
            <br/>
            <div class="row justify-content-center">
                <div class="clinician-container1">

                    <form class="card card-sm" id="patient-form" action="/organisation/radiologist/medicalID" method="POST">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search" name="medicalID" placeholder="Enter medical ID of patient">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn submit-btn" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>

                    <div class="card" id="user-details">
                        <div class="card-body">
                            <p>Name:
                                <%=details.name%>
                            </p>
                            <p> Medical No:
                                <%=details.recordID%>
                                    <%=details.medicalID%>
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
        </div>
        <br><br>


        <div class="container tabcontainer">
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-addreport-tab" data-toggle="tab" href="#nav-addreport" role="tab" aria-controls="nav-addreport" aria-selected="false">Add Report</a>
                            <a class="nav-item nav-link" id="nav-addprescription-tab" data-toggle="tab" href="#nav-addprescription" role="tab" aria-controls="nav-addprescription" aria-selected="false">Add Prescription</a>
                            <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="true">Report</a>
                            <a class="nav-item nav-link" id="nav-prescription-tab" data-toggle="tab" href="#nav-prescription" role="tab" aria-controls="nav-prescription" aria-selected="false">Prescription</a>
                            <a class="nav-item nav-link" id="nav-reporth-tab" data-toggle="tab" href="#nav-reporth" role="tab" aria-controls="nav-reporth" aria-selected="false">Report History</a>
                            <a class="nav-item nav-link" id="nav-prescriptionh-tab" data-toggle="tab" href="#nav-prescriptionh" role="tab" aria-controls="nav-prescriptionh" aria-selected="false">Prescription History</a>

                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">



                        <div class="tab-pane fade show active" id="nav-addreport" role="tabpanel" aria-labelledby="nav-addreport-tab">
                            <div class="dfcontainer">
                                <div class="main">
                                    <div class="main-center">
                                        <form class="clinician-form" method="post" action="/organisation/radiologist/addreport">
                                            <input type="text" class="hiddenInp" name="medicalID" value=<%=details.recordID%>
                                            <%=details.medicalID%>>
                                                <div class="form-group">
                                                    <label for="name">Blood Group</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control form-input" name="bloodGroup" id="blood-group" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Blood Pressure</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="bloodPressure" id="blood-pressure" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Height</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="height" id="height" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name">Weight</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="weight" id="weight" />
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="name">Allergies</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="allergies" id="allergies" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name">Diagnoses</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="diagnoses" id="diagnoses" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name">Links to medical images</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="links" id="links" />
                                                    </div>
                                                </div>

                                                <button class="btn submit-btn" type="button" name="button">Submit</button>

                                        </form>
                                    </div>
                                    <!--main-center"-->
                                </div>
                                <!--main-->
                            </div>
                            <!--container-->
                        </div>


                        <div class="tab-pane fade" id="nav-addprescription" role="tabpanel" aria-labelledby="nav-addprescription-tab">
                            <div clas-s="dpcontainer">
                                <div class="row">
                                    <div class="col-sm-4 col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <form accept-charset="UTF-8" action="/organisation/radiologist/addprescription" method="POST">
                                                    <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                                                    <%=details.recordID%>>
                                                        <textarea class="form-control counted" name="prescription" placeholder="Enter prescription details" rows="5"></textarea>

                                                        <button class="btn submit-btn" type="submit">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">


                            <div class="coabox">
                                <form action="/organisation/radiologist/getreport" method="POST">
                                    <button class="btn submit-btn">Get latest report</button>
                                    <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                                    <%=details.recordID%>>
                                </form>
                                <br>
                                <div class="report_result">
                                    <p>Name:
                                        <%=details.name%>
                                    </p>
                                    <p>Date of Birth:
                                        <%=details.dob%>
                                    </p>
                                    <p> Report:
                                        <%=details.report%>
                                    </p>
                                    <p>Links:
                                        <%=details.links%>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="nav-prescription" role="tabpanel" aria-labelledby="nav-prescription-tab">
                            <div class="dpcontainer">
                                <div class="row">
                                    <div class="col-sm-4 col-md-12">
                                        <div class="panel panel-default">
                                            <div class="coabox">
                                                <div class="panel-body">
                                                    <form action="/organisation/radiologist/getprescription" method="POST">
                                                        <button class="btn submit-btn">Get latest prescription</button>
                                                        <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                                                        <%=details.recordID%>>
                                                    </form>
                                                    <br><br>
                                                    <div class="prescription_results">
                                                        <p>Name:
                                                            <%=details.name%>
                                                        </p>
                                                        <p>Date of Birth:
                                                            <%=details.dob%>
                                                        </p>
                                                        <p> Report:
                                                            <%=details.prescription%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div class="tab-pane fade" id="nav-prescriptionh" role="tabpanel" aria-labelledby="nav-prescriptionh-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="coabox">

                                            <p>ADD PRESCRIPTION HISTORY HERE ON ITERATION</p>
                                        </div>
                                        <br><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-reporth" role="tabpanel" aria-labelledby="nav-reporth-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="coabox">
                                            <form action="/organisation/radiologist/reporthistory" method="POST">
                                                <button class="btn submit-btn">Get report history</button>
                                                <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                                                <%=details.recordID%>>
                                            </form>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>