<%-include("../../partials/header.ejs")%>

<body>
  <div class="d-flex align-items-center justify-content-center mt-5">
    <form class="bg-white shadow p-5 mt-5" action="/user/register-aadhaar/complete-form" method="post"
      style="border-radius: 10px;">
      <div class="form-row mt-1">
        <div class="col">
          <label for="aadhaarNum"><%=__('aadhaarNum')%>:</label>
          <input class="form-control" type="text" name="aadhaarNo" value="<%=details.aadhaarNo%>" disabled>
        </div>

        <div class="col">
          <label for="name"><%=__('name')%>:</label>
          <input class="form-control" type="text" name="name" value="<%=details.name%>" disabled>
        </div>
      </div>

      <div class="form-row mt-1">
        <div class="col">
          <label for="dob"><%=__('dob')%></label>
          <input class="form-control" type="text" name="dob" value="<%=details.dob%>" disabled>
        </div>

        <div class="col">
          <label for="gender"><%=__('gender')%></label>
          <input class="form-control" type="text" name="gender" value="<%=details.gender%>" disabled>
        </div>
      </div>

      <div class="form-row mt-1">
        <div class="col">
          <label for="gender"><%=__('address')%></label>
          <input class="form-control" type="text" name="address" value="<%=details.address%>" disabled>
        </div>
      </div>

      <div class="form-row mt-1">
        <div class="col">
          <label for="gender"><%=__('address')%></label>
          <input class="form-control" type="text" name="phone" value="<%=details.phoneNumber%>">
        </div>
      </div>

      <div class="form-row mt-1">
        <div class="col">
          <label for="username">Username:</label>
          <input class="form-control" type="text" name="username">
        </div>

        <div class="col">
          <label for="email"><%=__('email')%>:</label>
          <input class="form-control" type="email" name="email">
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label for="password"><%=__('password')%>:</label>
          <input class="form-control" type="password" name="password">
        </div>

        <div class="col">
          <label for="repeat-password"><%=__('repeatPass')%>:</label>
          <input class="form-control" type="password" name="repeat-password">
        </div>
      </div>

      <button class="btn btn-primary mt-3 submit-btn">Submit</button>
    </form>
  </div>
</body>

<%- include("../../partials/footer.ejs") %>