<%-include("../partials/header.ejs")%>

<h2 class="text-main m-3 font-weight-bold"><%=__('centAuth')%></h2>
<div class="container-fluid justify-content-center row align-items-center mt-5">

  <div class="card shadow-lg p-2 border-0 roundness col-md-3 offset-sm-3 offset-md-0">
    <div class="card-body text-main">
      <h4><%=__('enrollPatient')%></h4><br>
      <form class="form-inline user" method="post" action="/organisation/centauth">
        <input class="form-control form-control-user mr-sm-2" type="text" placeholder="<%=__('aadhaarNum')%>"
          name="aadhaarNum" aria-label="Search">
        <button class="btn submit-btn my-2 my-sm-0 roundness" type="submit"><%=__('search')%></button>
      </form>
      <br>
      <div class="errors">
        <% if(errors.length !== 0) { %>
        <% errors.forEach(error => { %>
        <div class="alert alert-danger" role="alert">
          <%= error.msg %>
        </div>
        <%})%>
        <%}%>
                </div>
       </div>
    </div>



    <div class="card shadow-lg p-2 border-0 roundness  offset-1 mt-4">
        <div class="card-body text-main" style="min-width: 250px;">
                <p id="message-display"></p>
                <% if(details.found !== null) { %>
        <p><%=__('aadhaarNum')%>:
          <%=details.aadhaarNo%>
        </p>
        <p><%=__('name')%>:
          <%=details.name%>
        </p>
        <p><%=__('dob')%>:
          <%=details.dob%>
        </p>
        <p><%=__('gender')%>:
          <%=details.gender%>
        </p>
        <p><%=__('address')%>:
          <%=details.address%>
        </p>
        <% if(message) {%>
        <div class="alert alert-success roundness" role="alert"><%=message%></div>
        <%}%>
        <% } else { %>
        <script type="text/javascript">
          document.getElementById("message-display").innerHTML =
            "<p class=\"alert alert-danger\" role=\"alert\">Details not found in database. Please ensure you have entered the correct Aadhaar number.</p>"
        </script>
        <%}%>
            </div>
        </div>

      </div>
    </div>

    <%- include("../partials/footer.ejs") %>