<%- include ('../partials/header') %>

<body>
  <br>
  <div class="container mt-4">
    <div class="row justify-content-center align-items-center">
      <form class="card card-sm" id="patient-form" action="/organisation/clinician/medicalID" method="POST">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-md-auto">
            <i class="text-main fas fa-search h4 mr-2"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-borderless" type="search" name="medicalID"
              placeholder="<%= __('ph1')%>">
          </div>
          <div class="col-auto">
            <button style="margin-left:10px;" class="btn submit-btn"><%=__('search')%></button>
          </div>
        </div>
        <% if(error) {%>
        <div class=" alert alert-danger">
          <%=error%>
        </div>
        <%}%>
      </form>

      <div class="card ml-4" id="user-details">
        <div class="card-body text-main">
          <p><%= __('name') %>: <%=details.name%> </p>
        <p> <%= __('medicalID') %>: <%=details.recordID%> <%=details.medicalID%></p>
    </div>
  </div>
  <br><br>

  <div class="container tabcontainer mt-5">
    <div class="row">
      <div class="col-xs-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-addreport-tab" data-toggle="tab" href="#nav-addreport"
              role="tab" aria-controls="nav-addreport" aria-selected="false"><%= __('addReport') %></a>
            <a class="nav-item nav-link" id="nav-addprescription-tab" data-toggle="tab" href="#nav-addprescription"
              role="tab" aria-controls="nav-addprescription" aria-selected="false"><%= __('addPresc') %></a>
            <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab"
              aria-controls="nav-report" aria-selected="true"><%= __('report') %></a>
            <a class="nav-item nav-link" id="nav-prescription-tab" data-toggle="tab" href="#nav-prescription" role="tab"
              aria-controls="nav-prescription" aria-selected="false"><%= __('presc') %></a>
            <a class="nav-item nav-link" id="nav-reporth-tab" data-toggle="tab" href="#nav-reporth" role="tab"
              aria-controls="nav-reporth" aria-selected="false"><%= __('reportHist') %></a>
            <a class="nav-item nav-link" id="nav-prescriptionh-tab" data-toggle="tab" href="#nav-prescriptionh"
              role="tab" aria-controls="nav-prescriptionh" aria-selected="false"><%= __('prescHist') %></a>

          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">



          <div class="tab-pane fade show active" id="nav-addreport" role="tabpanel" aria-labelledby="nav-addreport-tab">
            <div class="dfcontainer">
              <div class="main">
                <div class="main-center">
                  <form class="clinician-form" method="post" action="/organisation/clinician/addreport">
                    <input type="text" class="hiddenInp" name="medicalID" value=<%=details.recordID%>
                      <%=details.medicalID%>>

                    <div class="form-group">
                      <label for="name"><%= __('allergies') %></label>
                      <div class="input-group align-items-center">
                        <span class="input-group-addon mr-3"><i class="h3 fa fa-allergies"
                            aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="allergies" id="allergies" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name"><%= __('symptoms') %></label>
                      <div class="input-group align-items-center">
                        <span class="input-group-addon mr-3"><i class="h3 fa fa-procedures"
                            aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="symptoms" id="symptoms" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name"><%= __('diagnoses') %></label>
                      <div class="input-group align-items-center">
                        <span class="input-group-addon mr-3"><i class="h3 fa fa-diagnoses"
                            aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="diagnoses" id="diagnoses" />
                      </div>
                    </div>

                    <button class="btn submit-btn" name="button">Submit</button>

                  </form>
                </div>
                <!--main-center"-->
              </div>
              <!--main-->
            </div>
            <!--container-->
          </div>






          <div class="tab-pane fade" id="nav-addprescription" role="tabpanel" aria-labelledby="nav-addprescription-tab">
            <div clas-s="dpcontainer">
              <div class="row">
                <div class="col-sm-4 col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form accept-charset="UTF-8" action="/organisation/clinician/addprescription" method="POST">
                        <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                          <%=details.recordID%>>
                        <textarea class="form-control counted" name="prescription"
                          placeholder="Enter prescription details" rows="5"></textarea>

                        <button class="btn submit-btn">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">


            <div class="coabox">
              <form action="/organisation/clinician/getreport" method="POST">
                <button class="btn submit-btn"><%=__('latestReport')%></button>
                <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                  <%=details.recordID%>>
              </form>
              <div class="report_result">
                <p><%= __('name')%>:
                  <%=details.name%>
                </p>
                <p><%= __('dob')%>:
                  <%=details.dob%>
                </p>
                <p><%= __('report')%>:
                  <%=details.report%>
                </p>
              </div>
            </div>
          </div>


          <div class="tab-pane fade" id="nav-prescription" role="tabpanel" aria-labelledby="nav-prescription-tab">
            <div class="dpcontainer">
              <div class="row">
                <div class="col-sm-4 col-md-12">
                  <div class="panel panel-default">
                    <div class="coabox">
                      <div class="panel-body">
                        <form action="/organisation/clinician/getprescription" method="POST">
                          <button class="btn submit-btn"><%=__('latestPresc')%></button>
                          <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                            <%=details.recordID%>>
                        </form>
                        <br><br>
                        <div class="prescription_results">
                          <p>Name:
                            <%=details.name%>
                          </p>
                          <p>Date of Birth:
                            <%=details.dob%>
                          </p>
                          <p> Report:
                            <%=details.prescription%>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>




          <div class="tab-pane fade" id="nav-prescriptionh" role="tabpanel" aria-labelledby="nav-prescriptionh-tab">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="coabox">
                    <form action="/organisation/clinician/medicinehistory" method="POST">
                      <button class="btn submit-btn"><%=__('getPrescs')%></button>
                      <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                        <%=details.recordID%>>
                    </form>
                  </div>
                  <%for(var i = 0; i<details.length;i++){ %>

                  <%if(details[i]['Value']['prescription']!=""){%>
                  <div class="coabox">
                    Date:
                    <%=Date(details[i]['Timestamp'].slice(0, 11)).slice(4, 15)%>
                    <br>
                    <%=details[i]['Value']['prescription']%>
                  </div>
                  <%}%>
                                                    <%}%>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-reporth" role="tabpanel" aria-labelledby="nav-reporth-tab">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="coabox">
                    <form action="/organisation/clinician/reporthistory" method="POST">
                      <button class="btn submit-btn"><%=__('getReports')%></button>
                      <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                        <%=details.recordID%>>
                    </form>
                  </div>

                  <%for(var i = 0; i<details.length;i++){ %>

                  <%if(details[i]['Value']['report']!=""){%>
                  <div class="coabox">
                    Date:
                    <%=Date(details[i]['Timestamp'].slice(0, 11)).slice(4, 15)%>
                    <br>
                    <%=details[i]['Value']['report']%>
                  </div>
                  <%}%>
                                                    <%}%>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <%- include("../partials/footer") %>