<%- include ('../partials/header') %>

<body>
  <div class="card justify-center" id="masterCard-user">
    <!-- <div class="card-body"> -->
    <div class="container" id="Container-user">
      <!-- <div class="row"> -->
      <div class="col-xl-20" id="user-container">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true"><%= __('user.givePerm') %></a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false"><%= __('user.revokePerm') %></a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false"><%= __('reportHist') %></a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
              aria-controls="nav-view" aria-selected="false"><%= __('user.viewPerms') %></a>

          </div>
        </nav>
        <!-- tabs title ends -->

        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

          <!-- give permission -->
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card" id="box-user">
              <div class="card-body small-card" id="">
                <h4><%= __('user.givePerm') %></h4><br>
                <form class="form-inline" action="/user/givepermission" method="POST">
                  <input class="form-control mr-sm-2" name="doctorID" type="text" placeholder="<%= __('doctorID') %>"
                    aria-label="Search">
                  <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="<%= __('medicalID') %>"
                    aria-label="Search">
                  <button class="btn b my-2 my-sm-0 submit-btn">Submit</button>
                </form>
              </div>
            </div>
          </div>
          <!-- give permission -->
          <!-- revoke permission -->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card " id="box-user">
              <div class=" card-body small-card">
                <h4><%= __('user.revokePerm') %></h4><br>
                <form class="form-inline" action="/user/revokepermission" method="POST">
                  <input class="form-control mr-sm-2" name="doctorID" type="text" placeholder="<%= __('doctorID') %>"
                    aria-label="Search">
                  <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="<%= __('medicalID') %>"
                    aria-label="Search">
                  <button class="btn b my-2 my-sm-0 submit-btn" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
          <!-- revoke permission -->
          <!-- get records -->
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="card " id="box-user">
              <div class=" card-body small-card">
                <h4><%= __('reportHist') %></h4><br>
                <form class="form-inline" action="/organisation/healthcareprovider/getmedicalrecord" method="POST">
                  <input class="form-control mr-sm-2" name="medicalID" type="text" placeholder="<%= __('medicalID') %>"
                    aria-label="Search">
                  <button class="btn b my-2 my-sm-0 submit-btn" type="submit"><%=__('getReports')%></button>
                </form>
              </div>
            </div>
          </div>
          <!-- get records -->
          <!-- get permission -->
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <div class="card " id="box-user">
              <div class="card-body small-card usercard">
                <form action="/user/getpermission" method="POST">
                  <button class="btn submit-btn"><%= __('user.viewPerms') %></button>
                </form>
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col"><%= __('doctorID') %></th>
                      <th scope="col"><%= __('org') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <%=permission.username%>
                      </td>
                      <td>
                        <%=permission.organisation%>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!-- get permission -->
        </div>
      </div>
    </div>
  </div>

  <%- include ('../partials/footer') %>